@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap');

html
{
	/*background-image: linear-gradient(to bottom right, #43cea259 , #185a9d78 );*/
	background-image: url('greenbg.jpg');
	background-size: cover;
}
body
{	
	margin: 0;
	min-height: 100vh;
}
nav
{	
	text-align: center;
    display: inline-flex;
    flex-wrap: wrap;
    margin: 10px;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    background-image: radial-gradient(rgb(185 219 44)40%,#d7ffc6 200%);
    background-size: cover;
    background-position: bottom;
    line-height: 1.6em;
    margin: 0;
    /* backdrop-filter: blur(5px); */
    box-shadow: rgb(185 219 44) 1px 6px 20px 5px;
    justify-content: space-between;
    min-width: 800px;
    font-family: 'Open Sans', sans-serif;
}
nav p
{	
	margin: 0;
	text-align: left;
	line-height: 1.2em;
	color: black;
	font-size: 1.6em;
}
.date
{
	top: 0px;
	right: 20px;
}
.nav_left
{
	display: inline-flex;
	width: 50%
}
.details
{
	margin: auto;
	margin-top: 20px;
}
.details input
{
	font-size: 1.7em;
	padding: 0px;
}
.details p
{
	font-size: 1.7em;
	width:700px;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	font-weight: lighter;
}
.home
{
	display: inline-flex;
	flex-wrap: nowrap;
	width: 50%;
}
.home p
{
	margin-left: 20px;
}
nav a:hover
{
	font-weight: bolder;
}
a
{
	text-decoration: none;
	color: black;
	display: inherit;
}
.container
{	
	font-size: 1.7em;
	display: inline-block;
}

.error
{	
    color: red;
    font-size: 2em;
    font-weight: bold;
    width: 300px;
    margin: auto;
    background: white;
    box-shadow: -5px 5px 10px black;
}
.succ
{
	color: blue;
	font-size: 1.2em;
	font-weight: bold;
	left: 20px;
}
.details input,select
{
	padding:15px;
	width:250px ;
	font-size: 25px;
	background: #ececec ;
	border: 0px solid black; 
	outline: none;
	border-radius: 5px;
	transition-delay: 0.15s;
	background: transparent;
	color: black;
}
.user input
{
	padding: 0px;
}
.inform
{
	text-align: center;
	display: block;
    margin-top: -20px;

}
.bg
{
	background: #fcfcfc;
    display: flex;
    margin: 20px;
    margin-left: 20px;
    margin-right: 20px;
    box-shadow: -9px 13px 13px 1px #4d4d4d4f;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-content: center;
}
input,select,textarea
{
	padding:5px;
	width:400px ;
	font-size: 23px;
	background: whitesmoke;
	outline: none;
	border: 0px solid transparent;
	border-radius: 5px;
	transition-delay: 0.15s;
}
.id input:disabled, select:disabled
{
	opacity: .1;
}
.inform textarea
{
	resize:none;
	height: 80px;
}
label
{
	font-size: 20px;
	line-height: 40px;
	width: 200px;

}
.details input,select
{
	background: transparent;
}
.user
{	
	min-width: 200px;
	display: block;
}
.inform .id
{
    width: 900px;
    margin: auto;
    margin-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-top: 20px;
    margin-top: 30px;
    color: black;
    background: white;
}
.container
{
	margin-bottom: 20px;
}
.id .sub
{
	width: 100%;
}
.id .cont
{
	min-width: 200px; 
}
.inform .id input,.inform .id select
{
	background: whitesmoke;
	outline: none;
	border: 0px solid transparent;
	border-radius: 5px;
	transition-delay: 0.15s;
	width: 200px;
	box-sizing: border-box;
    border-bottom: 2px solid black;
}
.inform .id input.submit:hover
{
	background: #0066ff;
	cursor: pointer;
    
}
.id .cont
{
	width: auto;
}
.inform .id .next,.inform .id .prev
{
	position: absolute;
	width: 40px;
	height: 40px;
	margin-left: 10px; 
	cursor: pointer;
	font-size: 30px;
	background: transparent;
	margin-top: 10px;
}
.inform .id .next
{
	right: 40px;
	background-image: url('right.png');
	background-repeat: no-repeat;
	background-size: contain;
}
.inform .id .prev
{
	left:  40px;
	background-image: url('left.png');
	background-repeat: no-repeat;
	background-size: contain;
}
.inform .next:hover,.inform .prev:hover
{
	width: 60px;
	height: 60px;
}
.inform .id .next:disabled,.inform .id .prev:disabled
{
	opacity: 0.3;
	cursor: not-allowed;
}
.inform .id .next:disabled:hover,.inform .id .prev:disabled:hover
{
	width: 40px;
	height: 40px;
}
.inform input,select,textarea
{
	padding: 7px;
	width: 20%;
	font-size: 18px;
    background: whitesmoke;
	outline: none;
	border: 0px solid transparent;
	border-radius: 5px;
	transition-delay: 0.15s;
}
select
{
	width: 230px;
	height: 40px;
	font-size: 18px;
}
input.submit, .inform .id input.submit
{
    width: 250px;
    background-color: #4ea5ff;
    border: none;
    outline: none;
    height: 50px;
    font-size: 25px;
    border-radius: 49px;
    color: #fff;
    cursor: pointer;
    transition: 0.5s;
    padding: 0px;
    border-radius: 10px;
    text-align: center;
}
input.submit:hover
{
	background: #0066ff;
	cursor: pointer;
    
}
input.submit:disabled
{
	opacity: .5;
}
.formCont
{
	display: inline-block;
	width: auto;
	margin-bottom: 20px;
	vertical-align: middle;
	margin: auto;
}
.id
{
	margin-top: 10px;
}
.cont
{	
	margin: auto;
	text-align: left;
	display: inline-block;
	width: 155px;
	margin-left: 20px;
}
.invis
{
	position: absolute;
	left: -1700px;	
	opacity: 0;
}
#output
{
	width: 100px;
	height: 125px;
	border: 2px solid black;
	margin:auto;
	transition-duration: 0s;
}
.big
{
	height: 600px !important;
	width: auto !important;
	transition-duration: 0.5s !important;
}
@media screen and (max-width: 1000px)
{
	.details label
	{
		font-size: 25px;
	}
	.details input
	{
		font-size: 25px;
		width: 190px;
	}
	.formCont
	{
		width: 70%;
	}
	.bg
	{
		flex-wrap: wrap;
		resize: horizontal;
	}
	.duocont input
	{
		width: 50%;
	}
}
@media screen and (max-device-width: 1000px)
{		
	.formCont
	{
		width: 70%;
	}
	.bg
	{
		flex-wrap: wrap;
	}
	.duocont input
	{
		width: 20%;
	}
}